@use "../abstracts" as *;

.destination{
    margin: 8rem 0;
    &_heading{
        font-size: 2.8rem;
        color: $black;
        font-weight: 500;
        width: 60%;
        line-height: 4rem;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            bottom: -.5rem;
            left: 0;
            width: 40%;
            height: .2rem;
            background: $main;
        }
    }
    &_paragraph{
        font-size: 1.6rem;
        line-height: 2.7rem;
        color: $silverLight;
        font-weight: 400;
    }
    &_block{
        margin-top: 6rem;
    }
    &_card{
        width: 100%;
        height: 35rem;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        &_img{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                image-rendering: pixelated;
            }
        }
        &_layer{
            @include position(absolute, 0, 0, 0, 0, 100%, 100%);
            background: linear-gradient(to bottom, transparent 30%, $black);
            @include align(flex, null, flex-end, null);
            padding: 2rem;
            color: $white;
            &_content{
                @include align(flex, null, center, null);
                &_country{
                    font-size: 1.5rem;
                    margin-left: .4rem;
                }
            }
        }
        &_info{
            @include position(absolute, 25%, 0, null, null, 0, 50%);
            background: linear-gradient(to right, $main, $main2);
            @include align(flex, center, center, null);
            transition: all .5s linear;
            visibility: hidden;
            &_text{
                transform: rotate(-90deg);
            }
        }
        &:hover &_info{
            width: 100%;
            transform: rotate(90deg);
            visibility: visible;
        }
    }
}

