$white: #fff;
$black: #000;
$main: #ff4d58;
$main2: #bf2189;
$silver: #7f8c8d;
$blackDark: #1c1d1f;
$silverLight: #aaa;
$silverDark: #777;
$silverLight-50: #d4cfcf;
$silverLight-40: #f6f6fb;
$orange: #fbbf24;
$green: #34d399;